<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
<title><%= @title %></title> 
<link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
</head> 
<body> 

    
<%= yield %>

<div id="debug">
    <p> The time is now <%= Time.now.strftime("%I:%M %p") %> </p>
    <p> We're using Sinatra version <%= Sinatra::VERSION %></p>
</div> 
</body> 
</html> 

<div>
